.home-page{
    h1 {
        color: var(--textColor);
        font-size: 50px;
        font-family: var(--h1font);
        font-weight: 400;
    }

    h2 {
        color: var(--textColor);
        margin-top: 10px;
        font-weight: normal;
        font-size: 22px;
        font-family: var(--h2font);
        letter-spacing: 1px;
        animation: fadeIn 1s, 1.8s backwards;
    }

    .flat-button{
        color: var(--textColor);
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 1px;
        font-family: var(--h2font);
        text-decoration: none;
        padding: 10px 18px;
        border: 2px solid var(--textColor);
        border-radius: 10px;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8 backwards;
        white-space: nowrap;

        &:hover {
            background: var(--icons);
            color: rgb(255, 255, 255);
          }
    }
}
