.kel-container {
    margin-left: 40% ;
    width: 600px;
    
}

// Note to myself: to visualize this change on a laptop, use developer tools and click the mobile icon
@media only screen and (max-width: 768px){
    .kel-container{
        margin-top: 7%;
        margin-left: 35%;
        width: 300px;
    }
}