:root {
  --primary: #ADD8E6;
  --secondary: #94ccdf;
  --icons: #4682B4;
  --text: #004792;
}

html{
  font-size: 62.5%;
}


body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: var(--text);
  background: var(--primary);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;